body{
  background: rgb(247, 247, 247);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

ol, ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
main{
  margin-top: 100px;
}
.user-input{
  margin-top: 20px; 
}
.material-button{
  display: inline-block;
}
.material-card.block{
  padding: 5px 10px;
  background-color: #6200ee;
  color: white;
}
.material-card.block li{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.material-card.block, .material-card.edit-block{
  text-align: left;
  max-width: 640px;
  margin: 0 auto;
}
.block span{
  font-weight: bold;
}
.wallet h1{
  color: #6200ee;
}
.wallet > section{
  /*background-color: #6200ee;
  color: white;*/
  position: absolute;
  left: 0;
  right: 0;
}
.wallet .material-card{
  max-width: 640px;
  margin: 0 auto;
}
.wallet textarea{
  width: 90%;
  height: 150px;
}
.wallet li{
  text-align: left;
  max-width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}