body{
  background: rgb(247, 247, 247);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

ol, ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
main{
  margin-top: 100px;
}
.user-input{
  margin-top: 20px; 
}
.material-button{
  display: inline-block;
}
.block, .edit-block{
  text-align: left;
  max-width: 640px;
  margin: 0 auto;
  overflow: hidden;

  /*
    @Bug Problem here. The background of the blocks are set
    from within with javascript to show when theres an error in the block.
  */
  background-color: #6200ee;
  color: white;
}
.block span{
  font-weight: bold;
}
.wallet h1{
  color: #6200ee;
}
.wallet > section{
  background-color: #6200ee;
  color: white;
}
.wallet .material-card{
  max-width: 640px;
  margin: 0 auto;
}