.tab-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  color: #6200ee;
  z-index: 10;
  overflow: hidden;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.tab-bar > p{
  text-align: left;
  padding-left: 20px;
}
.tab-bar > ol{
  height: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.tab-bar > ol > li{
  overflow: hidden;
  position: relative;
  min-width: 110px;
  height: 20px;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
}
.tab-bar > ol > li:hover{
  background-color: rgb(238, 238, 238);
  border-bottom: 3px solid rgb(238, 238, 238);
}
.tab-bar > ol > li:focus{
  background-color: rgb(238, 238, 238);
  border-bottom: 3px solid rgb(238, 238, 238);
}
.tab-bar > ol > li.selected{
  border-bottom: 3px solid #6200ee;
}

@media only screen and (max-width: 600px){
  .tab-bar > ol > li{
    min-width: fit-content;
  }
  .tab-bar > ol > li > *:not(i){
    display: none;
  }
}

.tab-bar > ol > .material-button{
  position: absolute;
  top: 5px;
  right: 10px;
}

.tab-bar > .rippler{
  background-color: rgb(80, 80, 80);
  opacity: 0.7;
  transform: scale(0);
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 34px;
  z-index: 5;
  top: 0;
  left: 0;
}

.tab-bar.ripple > .rippler{
  animation-name: tab-item-ripple;
  animation-duration: 0.2s;
}

@keyframes tab-item-ripple{
  0%{
      transform: scale(0);
  }
  100%{
      transform: scale(3.6);
  }
}